body {
    font-family: "Poppins", sans-serif;
}
.bg-light {
    background-color: #f5f5dc;
}
.messages-bin {
    position: fixed;
    bottom: 50px;
    right: 50px;
    max-width: 300px;
}
.btn-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    button {
        display: flex;
        gap: 10px;
    }
}
